# Instituto Tecnológico de Monterrey
# Ciencia y analítica de datos
# A01793599 Gustavo René Ramos Ojeda

# Módulo 2 - Review data wrangling

In [22]:
#A01793599 - Initial part of the lab

import pandas as pd
import matplotlib.pylab as plt
import numpy as np


filename="auto.csv"

headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]


df = pd.read_csv(filename, names = headers)

df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

Claramente se nota que hay valores faltantes, ahora a complementar los datos

In [23]:
#A01793599 - QUESTION 1 - Cambiar NaN por Promedio

# A01793599 - Primero homologamos los valores a Nan
df.replace("?", np.nan, inplace = True)

# A01793599 - Calculando mean value - Promedio
meanValue = df["stroke"].astype("float").mean( axis = 0)
print( "Promedio: ", meanValue)

# A01793599 - Utilizando replace para cambiar NaN por Mean Value
df["stroke"].replace(np.nan, meanValue, inplace=True)

df.head()

Promedio:  3.255422885572139

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [24]:
#A01793599 - QUESTION 2 - Convertir MPG a L/100km en la columna "highway-mpg", renombrar a "highway-L/100km

# A01793599 - Primero convertimos diviendo 235 entre el total de millas Highway-mpb
df["highway-mpg"] = 235 / df["highway-mpg"]

# A01793599 - Renombramos las columnas
df.rename(columns={'highway-mpg':'highway-L/100km'}, inplace=True)

df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-L/100km,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,8.703704,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,8.703704,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,9.038462,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,7.833333,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,10.681818,17450

In [25]:
#A01793599 - QUESTION 3 - Normalizar la columna Height

# A01793599 - Realizamos la normalización utilizando el método de Simple feature Scaling Xnew = Xold / Xmax
df['height'] = df['height'] / df['height'].max() 

# A01793599 - Mostramos la columna normalizada
df[["height"]].head()

     height
0  0.816054
1  0.816054
2  0.876254
3  0.908027
4  0.908027

In [31]:
#A01793599 - QUESTION 4 - Crear una variable para la columna "aspiration"

# A01793599 - Obtenemos la conversión de valores categóricos hacia numéricos
valoresNumericos = pd.get_dummies(df['aspiration']) 

# A01793599 - Dividimos en dos columnas por claridad 
valoresNumericos.rename(columns={'std':'valor-std', 'turbo': 'valor-turbo'}, inplace=True)

# A01793599 - Mostramos la variable numérica
valoresNumericos.head(10)

   valor-std  valor-turbo
0          1            0
1          1            0
2          1            0
3          1            0
4          1            0
5          1            0
6          1            0
7          1            0
8          0            1
9          0            1

In [32]:
#A01793599 - QUESTION 5 - Combina la nueva variable con el DataFrame original borrando la columna "aspiration"

# A01793599 - Concatenamos los dataframes
df = pd.concat([df, valoresNumericos], axis=1)

# A01793599 - Eliminamos la columna original manteniendo un solo dataframe DF 
df.drop('aspiration', axis = 1, inplace=True)

# A01793599 - Mostramos el dataframe
df.head(10)

,symboling,normalized-losses,make,fuel-type,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,...,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-L/100km,price,valor-std,valor-turbo
0,3,NaN,alfa-romero,gas,two,convertible,rwd,front,88.6,168.8,...,3.47,2.68,9.0,111,5000,21,8.703704,13495,1,0
1,3,NaN,alfa-romero,gas,two,convertible,rwd,front,88.6,168.8,...,3.47,2.68,9.0,111,5000,21,8.703704,16500,1,0
2,1,NaN,alfa-romero,gas,two,hatchback,rwd,front,94.5,171.2,...,2.68,3.47,9.0,154,5000,19,9.038462,16500,1,0
3,2,164,audi,gas,four,sedan,fwd,front,99.8,176.6,...,3.19,3.40,10.0,102,5500,24,7.833333,13950,1,0
4,2,164,audi,gas,four,sedan,4wd,front,99.4,176.6,...,3.19,3.40,8.0,115,5500,18,10.681818,17450,1,0
5,2,NaN,audi,gas,two,sedan,fwd,front,99.8,177.3,...,3.19,3.40,8.5,110,5500,19,9.400000,15250,1,0
6,1,158,audi,gas,four,sedan,fwd,front,105.8,192.7,...,3.19,3.40,8.5,110,5500,19,9.400000,17710,1,0
7,1,NaN,audi,gas,four,wagon,fwd,front,105.8,192.7,...,3.19,3.40,8.5,110,5500,19,9.400000,18920,1,0
8,1,158,audi,gas,four,sedan,fwd,front,105.8,192.7,...,3.13,3.40,8.3,140,5500,17,11.750000,23875,0,1
9,0,NaN,audi,gas,two,hatchback,4wd,front,99.5,178.2,...,3.13,3.40,7.0,160,5500,16,10.681818,NaN,0,1